body {
    /*padding-top: 40px;*/
    background-color: #00897b;
}

.form-signup, .form-signin {
    width: 400px;
    margin: 0 auto;
}
.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}