#projectList{
    margin-top: 50px;
}
#profile-card .card-image {
    height: 200px;
}
#profile-card .card-profile-image {
    width: 70px;
    position: absolute;
    top: 160px;
    z-index: 1;
    cursor: pointer;
}
.modal-dialog {
    width: 438px;
    margin: 30px auto;
}
.modal .modal-content {
     padding: 0px;
 }
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0px solid #999;
    border: 0px solid rgba(0, 0, 0, .2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.kiri{
    text-align: right;
}
.arrange-horizontally > * {
    display: inline-block;
}
.alert {
     padding: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}
.card.small .card-image {
    height: 210px;
}
.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}
.panel-default {
    width: 180px;
}
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    min-height: 50px;
    position: relative;
    border-radius: 4px;
}
.portlet:hover .spacer{
    display : block;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0em;
}

.portlet-placeholder {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 1em 1em 0;
    border-radius:3px ;
}
.sel {

}
.canSort{
    height: 150px;
}
.delete-task{
    position: relative;
    float: right;
    margin-top: -33px;
    margin-right: 191px;
    cursor: pointer;
}
nav {
    background-color: #26a69a;
}
.addNewPerson{
    cursor: pointer;
}
.btn-group { display: inline-block; }
.addCard{ position: fixed; bottom: 10px; right: 10px; }
.post-tag {
    color: #3e6d8e;
    font-size: 12px;
    white-space: nowrap;
    background: #e4edf4;
    border: 1px solid #e4edf4;
    display: inline-block;
    margin: 2px 2px 2px 0;
    border-radius: 0;
    -webkit-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    -moz-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    -ms-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
    -o-transition: color 0.15s ease, background 0.15s ease, border 0.15s ease;
}
.spacer{
    /* width: 200px; */
    position: absolute;
    /* text-align: right; */
    margin-left: 136px;
    margin-top: -5px;
    display: none;
}

.progress {
   height: 4px;
}
.hover-delete{
    height: 10px;
    text-align: center;
}
.hover-edit{
    height: 10px;
}
th{
    height: 0px;

    height: 100px;
    color: #666;

    width: 200px;
}
#judultask{
    width: 200px;
    word-wrap: break-word;
}
td{
    vertical-align: top;
}
.card-panel {
    padding: 10px;
}
p {
    margin: 0px;
    /*line-height: 0px;*/
}

.subtaskButton {
    display: inline;
    height: 20px;
    width: 20px;
    position: relative;
}
.card .card-image .card-title {
    position: absolute;
    bottom: 25px;
    left: -5px;
    padding: 5px;
    background-color: rgba(0, 137, 123, 0.45);
    border-radius: 32px;
    margin: 12px;
    font-size: 17px;
}
.btn:hover, .btn-large:hover {
    background-color: #26A69A;
}
.subtaskcontent{
    width: 178px;
    word-wrap: break-word;
    cursor:move;
}
.subtaskcontent:hover{
    font-weight: bold;
}
@keyframes example {
    from {background-color: rgba(255, 0, 0, 0);}
    to {background-color: yellow;}
}
.animasi{
    width: 0;
    height: 0;
    background: red;
    -webkit-transition: width 2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 2s;
    transition-timing-function: linear;
}

.btn-group-sm > .btn, .btn-smxxx {
    margin: 0px 0px;
}
.card-panel {
    transition: box-shadow .25s;
    margin: 0.1rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
}

table {
    width: 0%;
}
table a:link {
    color: #fff;
}
i.tiny {
    font-size: 1.5rem;
}
.modal-body {
    text-align: left;
}
.input-group-btn {
    text-align: right;
}
#deleteProject {
    margin-bottom: 12px;
}


.btn.focus, .btn:focus, .btn:hover {
    color: #ffffff;
    text-decoration: none
}
.header-search-wrapper i {
    position: absolute;
    top: 0;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height: 32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}
.header-search-wrapper {
    max-width: 824px;
    width: 100%;
    margin: 0 auto;
    width: calc(100% - 45%);
    height: 40px;
    display: inline-block;
    margin-left: 240px;
    position: relative;
}
input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 100%;
    background: rgba(255,255,255,0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}
.header-search-wrapper {
    max-width: 824px;
    width: 100%;
    margin: 0 auto;
    width: calc(100% - 45%);
    height: 40px;
    display: inline-block;
    margin-left: 240px;
    position: relative;
}
#content .header-search-wrapper {
    width: 100%;
    margin: 0 auto;
    height: 40px;
    display: inline-block;
    position: relative;
}
.header-search-wrapper i {
    position: absolute;
    top: 0;
    font-size: 24px;
    top: 6px;
    left: 24px;
    line-height:32px !important;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
}
input.header-search-input {
    display: block;
    padding: 8px 8px 8px 72px;
    width: 100%;
    background: rgba(255,255,255,0.3);
    height: 24px;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
    border: none;
    font-size: 16px;
    appearance: textfield;
    font-weight: 400;
    outline: none;
    border-radius: 3px;
}
.header-search-input::-webkit-input-placeholder
{
    color:#fff;
    font-size:16px;
    font-weight:400
}
.header-search-input::-moz-placeholder
{
    color:#fff;
    font-size:16px;
    font-weight:400
}
.header-search-input:-ms-input-placeholder
{
    color:#fff;
    font-size:16px;
    font-weight:400
}
.header-search-input::placeholder
{
    color:#fff;
    font-size:16px;
    font-weight:400
}

input.header-search-input:hover {
    background: rgba(255,255,255,0.5);
}

input.header-search-input:focus {
    color:#333;
    background: #fff;
}
input.header-search-input:focus {
    border-bottom: none !important;
    box-shadow: none !important;
}

.header-search-wrapper-focus  i {
    color:#444 ;
}
.header-search-input:focus::-webkit-input-placeholder
{
    color:#333;
    font-size:16px;
    font-weight:400
}
.header-search-input:focus::-moz-placeholder
{
    color:#333;
    font-size:16px;
    font-weight:400
}
.header-search-input:focus:-ms-input-placeholder
{
    color:#333;
    font-size:16px;
    font-weight:400
}
.header-search-input:focus::placeholder
{
    color:#333;
    font-size:16px;
    font-weight:400
}
/*Old Search*/
li.search-out:hover{
    background: transparent;
}
.search-out{
    display: none;
}
.search-out-text{
    border-bottom: 1px solid #fff !important;
}
.search-out input[type=text]:focus:not([readonly]){
    border-bottom: 1px solid #fff !important;
    box-shadow:none;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background-color: rgba(250, 250, 250, 0);
    /* padding: 0; */
    max-height: 100%;
    width: 100%;
    /* margin: auto; */
}
.z-depth-4, .modal {
    box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0),0 25px 55px 0 rgba(0, 0, 0, 0);
}
.input-group-btn {
    position: relative;
    font-size: inherit;
    white-space: nowrap;
}
.rightside-navigation {
    overflow: hidden;
}