/*@import url("http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.css");*/
@font-face {
    font-family: "And Black";
    src: url("myfont-webfont.eot?#iefix") format('embedded-opentype'),
    url("fonts/and_black.woff") format('woff'),
    url("fonts/and_black.ttf") format('truetype');
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}


table a:link {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

table a:active,
table a:hover {
    color: #26A69A;
    text-decoration: underline;
}

.mdl-card {
    min-height: 20px;
    width: 100%;
}

.mdl-card__menu {
    right: 0;
    top: 0;
}

.mdl-card__title {
    padding: 0;
}

table {
    margin-left: 25px;
    margin-top: 84px;
    //margin-top: 25px;
    text-align: center;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #eaebec;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 2px #d1d1d1;
    -webkit-box-shadow: 0 1px 2px #d1d1d1;
    box-shadow: 0 1px 12px #A5A5A5;
}

table th {
    padding: 21px 35px 32px 65px;
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
    background: -moz-linear-gradient(top, #ededed, #ebebeb);
}

table th:first-child {
    text-align: left;
    padding-left: 20px;
    width: 100px;
}

table tr:first-child th:first-child {
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
}

table tr:first-child th:last-child {
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
}

table tr {
    text-align: center;
    padding-left: 20px;
}

table tr td:first-child {
    text-align: left;
    padding-left: 20px;
    border-left: 0;
}

table tr td {
    padding: 18px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    width: 200px;

    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr.even td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
    background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6);
}

table tr:last-child td {
    border-bottom: 0;
}

table tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 3px;
    -webkit-border-bottom-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

table tr:last-child td:last-child {
    -moz-border-radius-bottomright: 3px;
    -webkit-border-bottom-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.divbutton {
    background: invisible;
}

button {
    display: invisible;
    border: none;
    background: snow;
}

.divbutton:hover button {
    display: invisble;
}

#dialog h2 {
    padding: 14px;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

span.tab {
    padding: 0 15px; /* Or desired space*/
}

div.scroll {
    overflow: auto
}

.spacer {
    /* width: 200px; */
    position: absolute;
    /* text-align: right; */
    margin-left: 129px;
    margin-top: 2px;
    display: none;
}

.tilt.right {
    transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -webkit-transform: rotate(3deg);
}

.tilt.left {
    transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}
.panel-default {
    width: 180px;
}
.portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
    min-height: 50px;
    position: relative;
    border-radius: 4px;
}
.portlet:hover .spacer{
    display : block;
}
.hapusC{
    display: none;
}
.checklist:hover .hapusC{
    display: block;
    margin-top: 0px;
    position: relative;
    float: right;
}
.portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}

.portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}

.portlet-content {
    padding: 0em;
}

.portlet-placeholder {
    background-color: rgba(0, 0, 0, 0.4);
    margin: 0 1em 1em 0;
    border-radius:3px ;
}
td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
    border-radius: 2px;
}
.subtaskcontent {
    color: white;
    width: 178px;
    word-wrap: break-word;
    cursor: move;
}
.card-panel {
    padding: 10px;
    transition: box-shadow .25s;
    margin: 0.1rem 0 1rem 0;
    border-radius: 2px;
}
.done-true {
    text-decoration: line-through;
}
.float-right{
    float: right;
    color: #fff;
}
.judultask {
    width: 200px;
    word-wrap: break-word;
}
/*input[type="text"].taskbox::-webkit-input-placeholder { border-bottom: 0px solid #9e9e9e; color: black; }
input[type="text"].taskbox::-moz-placeholder {border-bottom: 0px solid #9e9e9e; color: black; }
input[type="text"].taskbox:-ms-input-placeholder {border-bottom: 0px solid #9e9e9e;  color: black; }
input[type="text"].taskbox:-moz-placeholder {border-bottom: 0px solid #9e9e9e; color: black; }*/

.pointer{
    cursor: pointer;
}
input[type="text"].taskbox{
    border-bottom: 0px solid #9e9e9e;
}
input[type="text"].displayDate{
    width: 87px;
    border-bottom: 0px solid #9e9e9e;
}
.show-pass{
    position: inherit;
    /* margin-bottom: 18px; */
    float: right;
    margin-top: -54px;
}