<!DOCTYPE HTML>
<html ng-app="sprintup">
<head>
    <title>Twenty by HTML5 UP</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/materialize.min.css">
    <!--[if lte IE 8]>
    <script src="welcome/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="welcome/css/main.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="welcome/css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="welcome/css/ie9.css"/><![endif]-->
    <link media="all" type="text/css" rel="stylesheet" href="../css/toastr.min.css">
    <link media="all" type="text/css" rel="stylesheet" href="../css/nprogress.css">
    <link media="all" type="text/css" rel="stylesheet" href="../css/styles.css">
    <link media="all" type="text/css" rel="stylesheet" href="../css/jquery-ui.css">
</head>
<body class="index" ng-app="form">
<div id="page-wrapper">

    <header id="header" class="alt">
        <h1 id="logo"><a href="index.html">Twenty <span>by HTML5 UP</span></a></h1>
        <nav id="nav">
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="current"><a href="index.html" id="profile">Welcome</a></li>
                <li><a href="" class="button special" id="action">Sign Up</a></li>
                <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i
                        class="mdi-communication-chat"></i></a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="progress"></div>
    <section id="welcome" style="display: none" ng-controller="LoginController">
        <div class="inner" id="login_fragment" >
            <form class="login-form" novalidate>
                <header>
                    <img src="../images/sprintup-logo-login.png" data-pin-nopin="true"></header>
                    <input type="text" ng-model="user.email" class="form-control" id="email" name="email" placeholder="Email address"/>
                    <input type="password" ng-model="user.password" class="form-control" id="password" name="password" placeholder="Password"/>
                    <footer>
                        <input type="submit" ng-click="login(user)" value="Login"/>
                        <br>
                        <br>
                        <br>
                        <a href="#" ng-click="loginFB()">Login with facebook</a>
                        <br>
                    </footer>
            </form>
        </div>
        <div class="inner" id="signup_fragment">
            <form class="login-form" novalidate>
                <header><img src="../images/sprintup-logo-login.png" data-pin-nopin="true"></header>
                <input type="text" ng-model="regData.nama" class="form-control" id="regName" placeholder="Name"/>
                <input type="text" ng-model="regData.email" class="form-control" id="regEmail" placeholder="Email address"/>
                <input type="password" ng-model="regData.password" class="form-control" id="regPassword" placeholder="Password"/>
                <div class="chip show-pass" onmousedown="toggleReveal()" onmouseup="toggleReveal()">Show password</div>
                <footer>
                    <input type="submit" ng-click="register(regData)" value="Register"/>
                    <br>
                    <br>
                    <br>
                    <br>
                </footer>
            </form>
        </div>
    </section>
    <div ng-controller="ProjectController">
        <section id="main" style="display: none">
            <div class="inner" id="addProject">
                <div class="container">
                    <div class="row isotope">
                        <div class="col s12 m4 l4" ng-repeat="p in projects">
                            <div id="profile-card" class="card">
                                <div class="card-image waves-effect waves-block waves-light" id="{{p.id}}"
                                     ng-click="seeThis(p.id)">
                                    <img src="../images/kawaii/1.jpg" data-pin-nopin="true">
                                    <span class="card-title">{{p.name}}</span>

                                </div>
                                <div class="card-content">
                                    <a href="#" class="close" id="deleteProject"><i
                                            class="small material-icons">delete</i></a>
                                    <a href="#" class="close"><i class="small material-icons">mode_edit</i></a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="modalProject" class="modal">
                    <div class="modal-content">
                        <h4>Create new project</h4>

                        <form novalidate>
                            <div class="marginn">
                                <input type="text" ng-model="proyek.nama" class="form-control"
                                       name="projectName"
                                       placeholder="Project name"/>
                                <input type="text" ng-model="proyek.deskripsi" class="form-control"
                                       name="projectDescription" placeholder="Description of your project"/>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" value="Submit"
                                       class="modal-action modal-close  waves-effect waves-light float-right"
                                       ng-click="add(proyek)">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;" id="showProjectForm">
                <a class="btn btn-floating btn-large red modal-trigger" href="#modalProject">
                    <i class="large material-icons">mode_edit</i>
                </a>
            </div>
        </section>
        <section id="project-screen" style="display: none">
            <p>{{project.name}}</p>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th><p>judul</p></th>
                    <th ng-repeat="person in whom"><p id="{{person.id}}" class="pointer"
                                                      style="width: 110px;text-align: center;">
                        {{person.name}}</p></th>
                </tr>
                <tr ng-repeat="(taskkey,value) in project.task" id="{{taskkey}}">
                    <th>
                        <p class="judultask"></p>
                        <textarea id="{{taskkey}}_" class="materialize-textarea taskbox"
                                  ng-model="project.task[taskkey].name"
                                  placeholder="{{value.name}}" rows="4" cols="50"></textarea>
                        <input type="text" ng-model="project.task[taskkey].deadline" class="displayDate"
                               id="displayDeadline"/>
                    </th>
                    <td class="portlet" ng-repeat="orang in whom" id="{{orang.id}}">
                        <div class="spacer"><a type="button" class="btn btn-smxxx modal-trigger"
                                               onclick="buka(this.parentNode.parentNode.parentNode.id,this.parentNode.parentNode.id)">+</a>
                        </div>
                        <div ng-repeat="(key,value0) in value.whom">
                            <div ng-if="key===orang.id">
                                <div ng-repeat="s in value0">
                                    <div ng-repeat="(key1, value) in s">
                                        <div class="card-panel {{value.status==0?'red lighten-2':value.status==1?' orange lighten-2':'green lighten-2'}}"
                                             id="{{orang.id}}/{{taskkey}}/{{key1}}">
                                            <p class="subtaskcontent pointer"
                                               id="{{orang.id}}/{{taskkey}}/{{key1}}/subtask"
                                               ng-click="currentOpenedSubtask($event)">
                                                {{value.name}}</p><a href="#" ng-click="s[key1]=null"
                                                                     onclick="removeThisView(this.parentNode)"><i
                                                class="tiny material-icons">delete</i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
                <a class="btn-floating btn-large red">
                    <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                    <li>
                        <a class="btn-floating red  modal-trigger" href="#modalTask" ng-click="loadMember()">
                            <i class="material-icons">library_books</i>
                        </a>
                    </li>
                    <li>
                        <a class="btn-floating red" data-target="#addperson" data-toggle="modal">
                            <i class="material-icons">supervisor_account</i>
                        </a>
                    </li>
                </ul>
            </div>
            <div id="modalSubTask" class="modal">
                <div class="modal-content">
                    <h4>Add new subtask</h4>
                    <br>

                    <form novalidate>
                        <div class="marginn">
                            <input type="text" ng-model="subtask.name" class="form-control" name="taskName"
                                   placeholder="Sub task name"/>
                            <input type="text" ng-model="subtask.description" class="form-control"
                                   name="taskDescription"
                                   placeholder="Sub task description"/>

                            <form>
                                <div class="input-group">
                                    <ul>
                                        <li ng-repeat="checklist in checklists">
                                            <input type="checkbox" ng-model="checklist.done" id="{{checklist.ide}}"/>
                                            <label for="{{checklist.ide}}" class="done-{{checklist.done}}">{{checklist.name}}</label>

                                        </li>
                                    </ul>
                                    <input type="text" class="form-control" ng-model="checklist" ng-model-instant
                                           id="daftarCek" placeholder="Enter checklist then press Enter key">
                                    <span class="input-group-btn">
                                    <input type="submit" value="Submit" class="waves-effect waves-light"
                                           ng-click="addChecklist(checklist)" style="display: none">
                                </span>
                                </div>
                            </form>
                            <br>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Submit"
                                   class="modal-action modal-close waves-effect waves-light float-right" id="temp"
                                   data-id="tempo"
                                   ng-click="addSubtask($event,subtask)">
                        </div>
                    </form>
                </div>
            </div>

            <div id="modalTask" class="modal">
                <div class="modal-content">
                    <h4>Add new task</h4>

                    <form novalidate>
                        <div class="marginn">
                            <input type="text" ng-model="task.nama" class="form-control" name="taskName"
                                   placeholder="Task name"/>
                            <input type="text" ng-model="task.deskripsi" class="form-control"
                                   name="taskDescription" placeholder="Task description"/>
                            <label for="duedate">Duedate</label>
                            <input type="text" id="duedate" class="displayDate" ng-model="task.tanggal">
                        </div>
                        <div class="modal-footer">
                            <input type="submit" value="Submit"
                                   class="modal-action modal-close  waves-effect waves-light float-right"
                                   ng-click="submitTask(task)">
                        </div>
                    </form>
                </div>
            </div>
            <div id="modalEditSubTask" class="modal">
                <div class="modal-content">
                    <h4>Edit a subtask</h4>

                    <form novalidate>
                        <input class="with-gap" name="group3" type="radio" id="todo"
                               ng-model="project.task[ctid].whom[cuid].subtasks[cstid].status" value="0"/>
                        <label for="todo">Todo</label>
                        <input class="with-gap" name="group3" type="radio" id="on"
                               ng-model="project.task[ctid].whom[cuid].subtasks[cstid].status" value="1"/>
                        <label for="on">Ongoing</label>
                        <input class="with-gap" name="group3" type="radio" id="done"
                               ng-model="project.task[ctid].whom[cuid].subtasks[cstid].status" value="2"/>
                        <label for="done">Done</label>

                        <div class="marginn">
                            <input type="text" ng-model="project.task[ctid].whom[cuid].subtasks[cstid].name"
                                   class="form-control"
                                   name="taskName"
                                   placeholder="Sub task name"/>
                            <input type="text" ng-model="project.task[ctid].whom[cuid].subtasks[cstid].desc"
                                   class="form-control"
                                   name="taskDescription"
                                   placeholder="Sub task description"/>

                            <form>
                                <div class="input-group">
                                    <ul>
                                        <li ng-repeat="(key,val) in project.task[ctid].whom[cuid].subtasks[cstid].checklist track by $index"
                                            class="checklist" ng-if="val.name!=null">
                                            <input type="checkbox" id="{{key}}" ng-model="val.done"/>
                                            <label for="{{key}}" class="done-{{val.done}}">{{val.name}}</label>
                                            <a href="#" class="hapusC"
                                               ng-click="project.task[ctid].whom[cuid].subtasks[cstid].checklist[key]=null"><i
                                                    class="tiny material-icons">delete</i></a>
                                        </li>
                                    </ul>
                                    <input type="text" class="form-control" ng-model="checklist" ng-model-instant
                                           placeholder="Enter checklist then press Enter key">
                                    <span class="input-group-btn">
                                    <input type="submit" value="Submit" class="waves-effect waves-light"
                                           ng-click="addEChecklist(checklist)" style="display: none">
                                </span>
                                </div>
                            </form>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>

</div>

<script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="welcome/js/jquery.dropotron.min.js"></script>
<script src="welcome/js/jquery.scrolly.min.js"></script>
<script src="welcome/js/jquery.scrollgress.min.js"></script>
<script src="welcome/js/skel.min.js"></script>
<script src="welcome/js/util.js"></script>
<!--[if lte IE 8]>
<script src="welcome/js/ie/respond.min.js"></script><![endif]-->
<script src="welcome/js/main.js"></script>
<script src="../js/toastr.min.js"></script>
<script src="../js/jquery-ui.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.0.0/jquery.serialize-object.compiled.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/path.js/0.8.4/path.min.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
<script src="../js/nprogress.js"></script>
<script src="../js/SprintCore.js"></script>
<script src="../js/jquery-ui.min.js"></script>
</body>
</html>